<section class="top-banner">
  <img src="assets/images/img_header_pc-2000x540.jpg">
</section>
<header>
  <nav class="navbar navbar-expand-lg navbar-light border-bottom">
    <div class="container py-3">
      <a>Về SUNFLOWER</a>
      <a>Dịch vụ</a>
      <a>Lý do lựa chọn SUNFLOWER</a>
      <a>Quy trình tuyển dụng</a>
      <a>FAQ</a>
      <a>Xem tin tuyển dụng</a>
      <a>Đăng ký</a>
    </div>
  </nav>
</header>
<section class="infact-news">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="left">
        <p class="title m-0">JOBS</p>
        <a class="button">VIEW SUNFLOWER ALL JOBS
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
      <div class="right">
        <ul>
          <li>
            <span>2020.10.12</span><a>【ハノイ・カウジャイ】ITコミュニケーターの募集！（UP TO 1000$）</a>
          </li>
          <li>
            <span>2020.10.12</span><a>【ハノイ・カウジャイ】ITコミュニケーターの募集！（UP TO 1000$）</a>
          </li>
          <li>
            <span>2020.10.12</span><a>【ハノイ・カウジャイ】ITコミュニケーターの募集！（UP TO 1000$）</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section-1">
  <div class="container">
    <h2 class="sec-title">Khi tìm kiếm công việc tại Tuyên Quang, bạn có gặp phải những vấn đề sau không?</h2>
    <ul>
      <li><span>Không biết tìm nguồn thông tin đáng tin cậy ở đâu</span></li>
      <li><span>Tìm đến công ty giới thiệu việc làm nhưng chi phí cao</span></li>
      <li><span>Tự mình liên hệ xin việc nhưng thủ tục rườm rà, phức tạp</span></li>
      <li><span>Xuất hiện nhiều công ty lừa đảo, khiến bạn mất niềm tin</span></li>
      <li><span>Các thông tin về lương thưởng chế độ không rõ ràng</span></li>
      <li><span>Thông tin khi trao đổi khác so với thực tế</span></li>
    </ul>
    <div class="text-center">
      <img src="assets/images/arrow_01.png">
    </div>
  </div>
</section>
<section class="section-2">
  <div class="container">
    <h2>Nếu bạn đang gặp những rắc rối trên hãy để SUNFLOWER giúp bạn giải quyết!</h2>
  </div>
</section>
<section class="section-3">
  <div class="container">
    <h2 class="sec-title"><span>ABOUT</span>SUNFLOWER</h2>
    <div class="box-wrap">
      <h3>Lời chào từ Văn Phòng Tuyển Dụng Tuyên Quang</h3>
      <p class="first">Chào các bạn!<br><br>
        Tôi là Phạm Hoàng Hiệp-Người đại diện của tổ chức đào tạo và giới thiệu nhân lực chất lượng cao-Công ty TNHH TM & DV SUNFLOWER. Hiện nay tôi đang là người phát triển cho công ty về lĩnh vực tổ chức mạng lưới Cộng Tác Viên và lĩnh vực Web Marketting. <br>
        Năm 2016, Công ty tôi đã bắt đầu khảo sát thị trường và thành lập các chi nhánh tại Bắc Giang, Bắc Ninh, Vĩnh Phúc, Thái Nguyên, Hà Nam. Qua thời gian làm việc tại Tuyên Quang và những chuyến công tác tôi có cơ hội được gặp gỡ, lắng nghe từ nhiều người lao động, trong số đó có không ít bạn chia sẻ rằng: “ Mong muốn có được việc làm ổn định với tiền lương cao để tích lũy cho tương lai”.<br> Từ đó tôi đã có một mong muốn làm sao để tạo ra một môi trường cho
        Từ đó, tôi đã có một mong muốn làm sao để tạo ra môi trường làm việc phù hợp, cùng với khả năng phát triển bản thân của mỗi người lao động cho tương lai của chính họ. </p><br><br>
        Trên thực tế, có rất nhiều trung tâm, công ty môi giới việc làm tại Việt Nam. Song, do bước đầu các công ty môi giới, các cá nhân môi giới không nói rõ nội dung công việc hoặc cung cấp thông tin đầy đủ cho các ứng viên về kiến thức, kỹ năng để thích nghi với cuộc sống tại nơi làm việc nên đã có không it trường hợp sau khi đến làm tại Khu Công Nghiệp đã rất ngỡ ngàng và thất vọng vì thực tế khác xa với kỳ vọng và tưởng tượng của họ.<br>
        Trong số các công ty môi giới, giới thiệu việc hay các cá nhân cũng có những trường hợp lừa đào để kiếm lời bằng cách yêu cầu nộp khoản tiền cọc hay hồ sơ gốc để trực lợi kiếm lời. vì vậy các bạn hãy thật sang suốt và tìm hiểu kỹ càng trước khi đưa ra lựa chọn.<br><br>
        Cơ hội việc làm còn rất nhiều, nhưng việc nắm bắt cơ hội và thực hiện có thành công hay không phụ thuộc vào sự nỗ lực của bản thân các bạn. Chúng tôi luôn sẵn sàng là cầu nối vững chắc cho người lao động và các công ty.<br>
        Nếu các bạn đang tìm kiếm cơ hội việc làm và muốn thực hiện điều đó, đừng ngần ngại liên hệ với Văn Phòng Tuyển Dụng Tuyên Quang.<br><br>
      SUNFLOWER-Tổ chức đào tạo và giới thiệu nhân lực chất lượng cao người Việt Nam <br><br>
      Giám đốc đại diện<br>
      <b>Phạm Hoàng Hiệp</b>
    </div>
  </div>
</section>
<section class="section-4">
  <div class="container">
    <h2 class="sec-title"><span>OCCUPATION</span>Lĩnh vực tuyển dụng</h2>
    <div class="box-wrap d-flex">
      <div class="item">
        <h3>
          <img src="assets/images/sec4_icon01.png" alt="Kỹ sư chuyên ngành">
          <span>Kỹ sư chuyên ngành</span>
        </h3>
        <ul>
          <li>
            <h4>KỸ SƯ XÂY DỰNG, CƠ KHÍ, HOÁ HỌC...</h4>
            <p>Yêu cầu:</p>
            <ul>
              <li>Tốt nghiệp Cao đẳng/Đại học Việt Nam hoặc Senmon Nhật chuyên ngành tương đương</li>
              <li>Tiếng Nhật: N5 trở lên, giao tiếp cơ bản</li>
              <li>Nhanh nhẹn, có tinh thần trách nhiệm</li>
            </ul>
          </li>
          <li>
            <h4>KỸ SƯ IT FRONT-END</h4>
            <p>Yêu cầu:</p>
            <ul>
              <li>Thành thạo ngôn ngữ: HLTM, CSS, JavaScript</li>
            </ul>
            <p>Ưu tiên:</p>
            <ul>
              <li>Tiếng Nhật hoặc tiếng Anh giao tiếp</li>
            </ul>
          </li>
          <li>
            <h4>KỸ SƯ IT BACK-END</h4>
            <p>Yêu cầu:</p>
            <ul>
              <li>Thành thạo một trong các ngôn ngữ: PHP, Java, Python..vv, nắm vững các kiến thưc chuyên môn về web
                protocols cũng như Database ( MySQL, Oracle..vv) </li>
            </ul>
            <p>Ưu tiên:</p>
            <ul>
              <li>Tiếng Nhật hoặc tiếng Anh giao tiếp</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="item">
        <h3>
          <img src="assets/images/sec4_icon02.png" alt="Lĩnh vực sử dụng tiếng Nhật">
          <span>Lĩnh vực sử dụng tiếng Nhật</span>
        </h3>
        <ul>
          <li>
            <h4>CÁC VỊ TRÍ CÔNG VIỆC SỬ DỤNG TIẾNG NHẬT</h4>
            <p>Yêu cầu:</p>
            <ul>
              <li>Tiếng Nhật: có bằng N3 trở lên, giao tiếp tốt.</li>
              <li>Tốt nghiệp Cao đẳng/Đại học Việt Nam hoặc Senmon Nhật.</li>
            </ul>
            <p>Ưu tiên:</p>
            <ul>
              <li>Có kinh nghiệm du học, làm việc tại Nhật.</li>
              <li>Kỹ năng làm việc nhóm tốt.</li>
              <li>Kỹ năng quản lí nhóm. </li>
            </ul>
          </li>
          <li>
            <h4>QUẢN LÝ THỰC TẬP SINH</h4>
            <p>Yêu cầu:</p>
            <ul>
              <li>Tiếng Nhật: có bằng N2 trở lên, giao tiếp tốt.</li>
            </ul>
            <p>Ưu tiên:</p>
            <ul>
              <li>Thông thạo giao thông, đi lại tại Nhật Bản.</li>
              <li>Nắm rõ các chế độ, bảo hiểm, luật lao động với lao động nước ngoài tại Nhật Bản.</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="item">
        <h3>
          <img src="assets/images/sec4_icon03.png" alt="Kỹ năng đặc định - Tokutei ginou">
          <span>Kỹ năng đặc định - Tokutei ginou</span>
        </h3>
        <ul>
          <li>
            <h4>14 NGÀNH NGHỀ: NÔNG NGHIỆP, NHÀ HÀNG-KHÁCH SẠN,...</h4>
            <p>Yêu cầu:</p>
            <ul>
              <li>Tiếng Nhật: có bằng N4 trở lên, giao tiếp cơ bản.</li>
              <li>Đã hoàn thành chương trình thực tập sinh 3 năm, có giấy chứng nhận và bằng tay nghề bậc 3.</li>
              <li>Hoặc: đã thi đỗ kỳ thi Kỹ năng đặc định.</li>
            </ul>
          </li>
          <li>
            <ul>
              <h4>THÔNG TIN HỮU ÍCH VỀ KỸ NĂNG ĐẶC ĐỊNH</h4>
              <p></p>
              <li>14 ngành nghề có thể xin visa Tokutei:<br>
                <a
                  href="https://www.SUNFLOWER.tokyo/job-view/senpai-voice/2293">https://www.SUNFLOWER.tokyo/job-view/senpai-voice/2293</a>
              </li>
              <p><br></p>
              <li>Tổng hợp các câu hỏi liên quan đến tư cách lưu trú Kỹ năng đặc định Tokutei:<br>
                <a
                  href="https://www.SUNFLOWER.tokyo/job-view/jobs/tokutei/2024">https://www.SUNFLOWER.tokyo/job-view/jobs/tokutei/2024</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="button text-center">
      <a><img src="assets/images/sec4_button.png" alt="Đăng ký tại đây"></a>
    </div>
  </div>
</section>
<section class="section-5">
  <h2 class="sec-title"><span>Merit</span>Lí do lựa chọn SUNFLOWER</h2>
  <div class="box-wrap">
    <div class="item">
      <div class="container">
        <h3><img src="assets/images/service_01.png" alt="">
          <span>Giới thiệu việc làm miễn phí</span>
        </h3>
        <div class="clearfix">
          <div class="img">
            <img src="assets/images/sec5_img01-1.png" alt="">
          </div>
          <div class="txt">
            <p>Từ bước nộp hồ sơ tới lúc vào làm việc chính thức tại các công ty Nhật, ứng viên <span class="red">hoàn
                toàn không phải trả bất kỳ</span> một khoản chi phí nào. Mọi chi phí phát sinh đều do công ty tuyển dụng
              ở Nhật chi trả.<br>
              Đồng thời, khi ứng viên đăng ký qua Form của SUNFLOWER, chúng tôi sẽ liên tục cập nhật và gửi các thông tin
              công việc mới nhất tới mail của ứng viên, giúp ứng viên có thể tham khảo thông tin các công việc.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <h3><img src="assets/images/service_02.png" alt="">
          <span>Được giải thích và tư vấn rõ ràng, cụ thể</span>
        </h3>
        <div class="clearfix">
          <div class="img">
            <img src="assets/images/sec5_img03-1.png" alt="">
          </div>
          <div class="txt">
            <p>SUNFLOWER sẽ luôn đồng hành với ứng viên từ bước ứng tuyển, cho đến khi chính thức vào làm tại công ty ở
              Nhật. Tư vấn, giải thích rõ ràng và minh bạch các thông tin về lương, chế độ làm việc... Hỗ trợ ứng viên
              khi tham gia phỏng vấn. Hỗ trợ thủ tục xin tư cách lưu trú, visa, mua vé máy bay v.v...</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <h3><img src="assets/images/service_03.png" alt="">
          <span>Được hỗ trợ trong suốt quá trình làm việc</span>
        </h3>
        <div class="clearfix">
          <div class="img">
            <img src="assets/images/sec5_img02.png" alt="">
          </div>
          <div class="txt">
            <p>Sau khi ứng viên vào làm việc chính thức tại công ty Nhật Bản, SUNFLOWER luôn là cầu nối giữa ứng viên và
              công ty tuyển dụng, hỗ trợ tư vấn và giải quyết các vấn đề khúc mắc nếu có.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-7">
  <h2 class="sec-title"><span>Flow</span>Quy trình tuyển dụng</h2>
  <div class="container">
    <div class="item">
      <div class="img">
        <img src="assets/images/step_1-1-1.jpg" alt="">
      </div>
      <div class="txt">
        <h3>Ứng viên đăng ký CV ứng tuyển</h3>
        <p>Trên website của <a>SUNFLOWER</a>, nhấn nút <a>Đăng
            ký</a>&nbsp;hoặc <a>Xem tin tuyển dụng</a>,và lựa chọn công việc
          phù hợp. Sau đó, download mẫu&nbsp;CV của SUNFLOWER về và điền theo mẫu. Khi đã hoàn thành bản đăng ký, ứng viên
          nhấn nút <span style="color: red;">Xác nhận</span> để gửi CV về cho SUNFLOWER. Khi gặp lỗi trong quá trình gửi,
          ứng viên liên hệ trực tiếp qua email<a href="mailto: huythuytq1@gmail.com"> staff@SUNFLOWER.tokyo </a> để được hỗ
          trợ.</p>
        <p style="color: red;">※Chúng tôi chỉ tiếp nhận&nbsp; CV theo mẫu quy định đã hoàn thiện đầy đủ tất cả các mục.
        </p>
      </div>
    </div>
    <div class="item">
      <div class="img">
        <img src="assets/images/step_2-1.jpg" alt="">
      </div>
      <div class="txt">
        <h3>Nghe tư vấn từ SUNFLOWER</h3>
        <p>Khi tiếp nhận thông tin đăng kí và CV của ứng viên, trong vòng 5 ngày làm việc&nbsp;nhân viên của SUNFLOWER sẽ
          liên hệ và đặt lịch trao đổi qua Zoom. Mục đích của buổi tư vấn là để&nbsp;hiểu rõ nguyện vọng ứng tuyển của
          ứng viên, đồng thời giải thích cho ứng viên hiểu rõ về: Quy trình tuyển dụng&nbsp;của&nbsp;SUNFLOWER, Nội dung –
          Điều kiện &amp; Yêu cầu công việc.</p>
      </div>
    </div>
    <div class="item">
      <div class="img">
        <img src="assets/images/step_3-1.jpg" alt="">
      </div>
      <div class="txt">
        <h3>Phỏng vấn với công ty tuyển dụng</h3>
        <p>Nếu CV của ứng viên thông qua vòng xét hồ sơ, SUNFLOWER&nbsp;sẽ sắp xếp lịch phỏng vấn với công ty tuyển dụng
          qua Zoom. Trong quá trình phỏng vấn sẽ có nhân viên của SUNFLOWER tham gia và hỗ trợ dịch khi cần thiết.<br>
          Có thể có 1 hoặc 2 vòng phỏng vấn tuỳ theo quy định của công ty tuyển dụng.</p>
      </div>
    </div>
    <div class="item">
      <div class="img">
        <img src="assets/images/step_4-1.jpg" alt="">
      </div>
      <div class="txt">
        <h3>Thông báo kết quả phỏng vấn và Ký cam kết</h3>
        <p>Khi có kết quả phỏng vấn từ công ty tuyển dụng, SUNFLOWER sẽ gửi thông báo kết quả phỏng vấn tới ứng viên.
          Trường hợp được tuyển dụng thì khi thông báo kết quả sẽ gửi kèm với điều kiện chi tiết (lương, thưởng, chế độ)
          khi làm việc thực tế tại công ty Nhật. Nếu ứng viên đồng ý với điều kiện được đưa ra thì SUNFLOWER sẽ hỗ trợ tiến
          hành làm thủ tục sang Nhật.</p>
        <p>Sau khi có quyết định tuyển dụng chính thức, trong vòng 5 ngày làm việc, ứng viên cần phải ký một bản cam kết
          với SUNFLOWER về việc đảm bảo làm việc tối thiểu 1 năm tại công ty tuyển dụng.<br>
          Mục đích của bản cam kết này nhằm đảm bảo trách nhiệm của ứng viên với công việc được giới thiệu cũng như
          trách nhiệm của các bên liên quan. Tránh trường hợp sau khi làm xong thủ tục và sang làm việc trong thời gian
          ngắn đã xin nghỉ việc hoặc lợi dụng VISA sang Nhật để làm việc bất hợp pháp gây tổn thất cho cả phía công ty
          tuyển dụng và ảnh hưởng tới uy tín của SUNFLOWER.<br>
          ※Việc kí kết được diễn ra khi và chỉ khi cả 2 bên: ứng viên và SUNFLOWER đồng thuận với nội dung bản cam kết.</p>
      </div>
    </div>
    <div class="item">
      <div class="img">
        <img src="assets/images/step_5_pc.jpg" alt="">
      </div>
      <div class="txt">
        <h3>Làm thủ tục gia nhập công ty Nhật</h3>
        <p>Khi ứng viên đã tới Nhật, phía công ty tuyển dụng&nbsp;sẽ&nbsp;hướng dẫn làm các thủ tục, giấy tờ cần thiết
          để đi làm tại&nbsp;công ty Nhật.</p>
      </div>
    </div>
  </div>
  <div class="button text-center">
    <a><img src="assets/images/sec4_button.png" alt="Đăng ký tại đây"></a>
  </div>
</section>
<section class="section-11">
  <h2 class="sec-title"><span>MEDIA</span>Thông tin đăng trên phương tiện truyền thông</h2>
  <div class="container">
    <div class="media clearfix">
      <img src="assets/images/media01_01.jpg" alt="">
      <div class="fl_r">
        <h3>Báo Nikkan kogyo</h3>
        <p>Đăng ngày 17/10/2016</p>
        <p>&nbsp;</p>
        <div class="kizi clearfix">
          <p><img src="assets/images/media01_02.jpg" alt="日刊工業新聞"></p>
          <div class="txt">インファクト、ベトナムＩＴ人材を中小に紹介<br>
            １００時間研修で教育<br>
            <a rel="noopener noreferrer">
              https://www.nikkan.co.jp/articles/view/00403221</a><br>
            <span class="small">日刊工業新聞電子版より</span></div>
        </div>
      </div>
    </div>
    <div class="media-2col clearfix">
      <div class="media">
        <div class="img">
          <img src="assets/images/logo_0.jpg" alt="">
        </div>
        <div class="content">
          <h3>Báo kinh tế Zaikei　17/10/2016</h3>
          <p>インファクト、ベトナムＩＴ人材を中小に紹介</p>
          <p><a rel="noopener noreferrer">http://www.zaikei.co.jp/releases/408531/</a></p>
        </div>
      </div>
      <div class="media">
        <div class="img">
          <img src="assets/images/logo_1.png" alt="">
        </div>
        <div class="content">
          <h3>Cube News　17/10/2016</h3>
          <p>インファクト、ベトナムＩＴ人材を中小に紹介<br>
            <a>http://bit.ly/2tPqnNc</a></p>
        </div>
      </div>
      <div class="media">
        <div class="img">
          <img src="assets/images/logo_2.gif" alt="">
        </div>
        <div class="content">
          <h3>BIGROBE News　17/10/2016</h3>
          <p>インファクト、ベトナムＩＴ人材を中小に紹介</p>
          <p><a rel="noopener noreferrer">https://news.biglobe.ne.jp/economy/1017/prt_161017_8374131431.html</a></p>
        </div>
      </div>
      <div class="media">
        <div class="img">
          <img src="assets/images/logo_3.png" alt="">
        </div>
        <div class="content">
          <h3>Sankei News　17/10/2016</h3>
          <p>インファクト、ベトナムＩＴ人材を中小に紹介</p>
          <p><a rel="noopener noreferrer">http://www.sankei.com/economy/news/161017/prl1610170154-n1.html</a></p>
        </div>
      </div>
      <div class="media">
        <div class="img">
          <img src="assets/images/logo_4.gif" alt="">
        </div>
        <div class="content">
          <h3>Work master　17/10/2016</h3>
          <p>インファクト、ベトナムＩＴ人材を中小に紹介</p>
          <p><a rel="noopener noreferrer">https://www.work-master.net/201680018</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-8">
  <h2 class="sec-title"><span>FAQ</span>Hỏi-Đáp</h2>
  <div class="container">
    <dl>
      <dt>
        <p>Trong quá trình từ khi giới thiệu, phỏng vấn đến khi sang Nhật, ứng viên có phải chi trả khoản phí nào không?
          Ứng viên phải thực hiện cam kết gì trước khi tới Nhật?</p>
      </dt>
      <dd>
        <p>Như đã nêu rõ trong mục “Quy trình tuyển dụng”, trong toàn bộ quá trình từ khi tiếp nhận CV cho tới khi được
          tuyển dụng sang Nhật làm, SUNFLOWER không thu phí giới thiệu. Thêm vào, các bạn sẽ được tham gia khoá đào tạo do
          SUNFLOWER tổ chức. Khoá học cung cấp đầy đủ những tri thức cơ bản và thiết yếu trong quá trình làm việc và sinh
          sống tại Nhật Bản. Bên cạnh đó, để đảm bảo quyền lợi và trách nhiệm cho bản thân ứng viên cũng như công ty
          tuyển dụng và uy tín của SUNFLOWER, ứng viên sẽ kí bản cam kết làm việc tối thiểu 1 năm tại công ty tuyển dụng.
        </p>
      </dd>
    </dl>
    <dl>
      <dt>
        <p>SUNFLOWER có phải là một công ty phái cử, môi giới xuất khẩu lao động hay không? Làm thế nào để kiểm chứng độ
          tin cậy?</p>
      </dt>
      <dd>
        <p>SUNFLOWER không phải là một công ty phái cử, môi giới xuất khẩu lao động. SUNFLOWER là một tổ chức có tư cách pháp
          nhân, hoạt động với mục đích hỗ trợ đảm bảo nguồn lực cho các Doanh nghiệp tại Nhật Bản. SUNFLOWER được chính phủ
          Nhật công nhận và được viện trợ theo đúng quy định của pháp luật.</p>
      </dd>
    </dl>
    <dl>
      <dt>
        <p>Khi đã đỗ phỏng vấn, bao nhiêu phần trăm cơ hội được làm nhân viên chính thức?</p>
      </dt>
      <dd>
        <p>Nếu đỗ phỏng vấn, bạn sẽ được nhận vào làm, thời gian thử việc tuỳ từng công ty (thường sẽ là 3 tháng), được
          hưởng mọi quyền lợi và chế độ như nhân viên người Nhật. Như vậy, khi đã được tuyển dụng, chỉ cần bạn có năng
          lực và cố gắng trong thời gian thử việc, bạn sẽ nắm trong tay 100% cơ hội trở thành nhân viên chính thức.</p>
      </dd>
    </dl>
    <dl>
      <dt>
        <p>Nếu được nhận vào làm thì có được nhận các hỗ trợ như hỗ trợ đi lại hay nhà ở hay không, công ty có chuẩn bị
          nhà ở cho nhân viên hay không ?</p>
      </dt>
      <dd>
        <p>Tùy từng công ty mà chế độ trợ cấp, hỗ trợ sẽ khác nhau. Về cơ bản, các công ty Nhật đều hỗ trợ một phần chi
          phí nhà ở hay chi phí giao thông đi lại cho nhân viên. Cũng tùy công ty, sẽ có công ty có ký túc xá cho nhân
          viên hoặc không. Về các chế độ hỗ trợ cụ thể, sẽ được ghi rõ trong từng thông tin tuyển dụng của SUNFLOWER.</p>
      </dd>
    </dl>
    <div class="button text-center">
      <a><img src="assets/images/sec4_button.png" alt="Đăng ký tại đây"></a>
    </div>
  </div>
</section>
<section class="section-9">
  <h2 class="sec-title"><span>About us</span>Thông tin công ty</h2>
  <div class="container">
    <table>
      <tbody>
        <tr>
          <td>Tên công ty</td>
          <td>Tổ chức đào tạo và giới thiệu nhân lực chất lượng cao người Việt Nam</td>
        </tr>
        <tr>
          <td>Tên tiếng Anh</td>
          <td>Japan Highly Skilled Foreign Labor Interaction &amp; Cultivation Organization</td>
        </tr>
        <tr>
          <td>Tên viết tắt</td>
          <td>SUNFLOWER</td>
        </tr>
        <tr>
          <td>Tổng giám đốc</td>
          <td>Phạm Hoàng Hiệp</td>
        </tr>
        <tr>
          <td>Trụ sở chính</td>
          <td>Tầng 5, toà nhà PB Ikenohata, quận Taitou, Tokyo (bản đồ)<p></p>
            <p><iframe style="border: 0;"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.4556890542635!2d139.76554431525975!3d35.715009980186395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c28b3345219%3A0x661fe908b69540d0!2z5qCq5byP5Lya56S-44Kk44Oz44OV44Kh44Kv44OI!5e0!3m2!1svi!2sjp!4v1474879960541"
                width="655" height="330" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
            <p><a class="gg-link" href="https://goo.gl/maps/QTbcNqVtZr82" target="_blank"
                rel="noopener noreferrer">Google Map</a></p>
          </td>
        </tr>
        <tr>
          <td>TEL</td>
          <td>03-5842-1380</td>
        </tr>
        <tr>
          <td>FAX</td>
          <td>03-5685-7374</td>
        </tr>
        <tr>
          <td>MAIL</td>
          <td>staff@sunflower.tokyo</td>
        </tr>
        <tr>
          <td>URL</td>
          <td><a href="https://www.SUNFLOWER.tokyo/" target="_blank"
              rel="noopener noreferrer">https://www.sunflower.tokyo/</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<footer class="footer">
  <div class="copy-right"></div>
</footer>
<a class="backtotop" style="display: block;" (click)="scrollToTop()" *ngIf="isShowScrollToTop">
  <img src="assets/images/backtotop.png" alt="back top">
</a>